.md-red { background: #D32F2F; }
.md-pink { background: #C2185B;}
.md-purple { background: #7B1FA2;}
.md-deep-purple { background: #512DA8;}
.md-indigo {background: #303F9F;}
.md-blue {background: #1976D2;}
.md-light-blue {background: #0288D1;}
.md-cyan {background: #0097A7;}
.md-teal {background: #00796B;}
.md-green {background: #388E3C;}
.md-light-green {background: #689F38;}
.md-lime {background: #AFB42B;}
.md-yellow {background: #FBC02D;}
.md-amber {background: #FFA000;}
.md-orange {background: #F57C00;}
.md-deep-orange {background: #E64A19;}
.md-brown {background: #5D4037;}
.md-grey {background: #616161;}
.md-blue-grey {background: #455A64;}
